header {
  margin-bottom: 30px;
  position: relative;
  height: 70px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.image1 {
  top: 5px;
}
/**/
button,
a {
  position: relative;
  left: 260px;
}

.button1 {
  margin: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
}
.link1 {
  margin: 5px;
  font-size: 20px;
  color: rgb(227, 65, 64);
}

.button2 {
  font-family: Arial, sans-serif;
  margin: 10px;
  background-color: rgb(227, 65, 64);
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#stretch {
  font-size: 20px;
  transition:
    padding-right 0.3s,
    padding-bottom 0.3s,
    padding-left 0.3s,
    padding-top 0.3s,
    text-align 0.3s;
}
#stretch:hover {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

#shadow {
  font-weight: bold;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  font-size: 20px;
}
#shadow:active {
  margin-top: 4px;
  margin-left: 4px;
  box-shadow: none;
}
#num:hover {
  padding-left: 15px;
  padding-right: 15px;
}

p {
  font-family: "Noto Sans Mono", serif;
  margin-top: 0;
  margin-bottom: 0;
}
.video-title {
  font-size: 30px;
  font-weight: bold;
  width: 280px;
  line-height: 30px;
  margin-bottom: 5px;
}
.video-stats {
  font-size: 13px;
  font-weight: 100;
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
}
.video-author {
  font-size: 13px;
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
}
.video-description {
  font-family: "Noto Serif Display", serif;
  font-size: 20px;
  color: rgb(96, 96, 96);
  width: 280px;
  line-height: 22px;
}

.image2 {
  margin-top: 200px;
  margin-bottom: 20px;
}

footer {
  background-color: rgb(227, 65, 64);
  color: white;
  font-size: 14px;
  padding-bottom: 18px;
  padding-top: 18px;
  text-align: center;
  position: relative;
}
.shop-link {
  cursor: pointer;
  margin-left: 5px;
}
.shop-link:hover {
  text-decoration: underline;
}
